.sidebar {
  width: 200px;
  background-color: #e881c9;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ccc;
  }
}

.sidebar li a {
  text-decoration: none;
  color: #333;
}
